{
 :aliases {
           ;; Add cross-project aliases here
           :project/run {:exec-fn hello2/-main}
           :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
                 :exec-fn hf.depstar/jar
                 :exec-args {:jar "clj-sample.jar" :sync-pom true}}
           :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote :artifact "clj-sample.jar"}}
           }
 :deps
 {
  clojure.java-time/clojure.java-time {:mvn/version "1.1.0"}
  org.clojure/clojure {:mvn/version "1.11.1"}
  http-kit/http-kit {:mvn/version "2.7.0-alpha1"}
  }


 }

